.hijau{
    background-color: rgb(37, 223, 46);
}

.bg-hitam{
    padding: 1%;
    
    background-color: rgb(75, 77, 78);
}

.linkurl{
    text-decoration: none;
}

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: aquamarine;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
    min-width: 100vh;
}

.seratus{
    display: grid;
    min-height: 100%;
    max-height: 100%;
    
}